<form action="/theaters/{{theaterId}}/events/{{event._id}}?_method=PUT" method="POST">
    <label for="name">Name</label>
    <input type="text" name="name" value="{{event.name}}">

    <label for="type">Type</label>
    <input type="text" name="type" value="{{event.type}}">

    <input type="submit" value="Edit">

    <a href="/theaters/{{event._id}}/delete">Delete {{theater.event}}</a>
</form>