<div>
    <h1>{{theater.name}}'s Events</h1>

    <div>
        <a href="/theaters/{{theater._id}}/events/new">Create a New Event</a>
    </div>

    </br>

    <div>
        <a href="/theaters">Back to Theaters</a>
    </div>
    </br>
    <a href="/theaters/{{theater._id}}/delete">Delete Theater</a>
    <br>
    <br>

<div class="list">
    {{#each theater.events}}
        <div>
            {{this.name}} - {{this.date}}
            <a href="/theaters/{{../theater._id}}/events/{{this._id}}">View</a>
            </div>
            <div>
            <a href="/theaters/{{../theater._id}}/events/{{this._id}}/delete">Delete Event</a>
        </div>
    
    {{/each}}
</div>

   <div class="pic">
       
         <img src="{{theater.location}}" alt="Location Info">

    

     </div>
</div>