<div>
    {{event.name}} - {{event.address}}
    <a href="/theaters/{{theaterId}}/events/{{event._id}}/edit">Edit</a>
    <a href="/theaters/{{theaterId}}/events/{{event._id}}/delete">Delete</a>
    <a href="/theaters/{{theater._id}}">Delete Theater</a>
</div>