<div class="last">
    {{event.name}} - {{event.address}}
    <a href="/theaters/{{theaterId}}/events/{{event._id}}/edit">Edit</a>
    <a href="/theaters/{{theaterId}}/events/{{event._id}}/delete">Delete</a>

    
</div>

<div>
        <a href="/theaters/{{theaterId}}/events">Back to Events</a>
    </div>